# Virtual environment files
.venv/
.conda/

# Temporary files
*.pyc
__pycache__/
*.log

# Cache files from various tools
.pytest_cache/
.ruff_cache/

# VS Code configuration files
.vscode/

# Test results
.coverage
htmlcov/


# Dependencies installed via pip.
env/
venv/
